DB_NAME=buildlog
DB_USERNAME=buildlog_user
DB_PASSWORD=replace_with_a_strong_database_password
DB_ROOT_PASSWORD=replace_with_a_different_strong_root_password

JWT_SECRET_KEY=replace_with_a_base64_encoded_64_byte_random_secret
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=1209600000
JWT_COOKIE_SECURE=false

ADMIN_LOGIN_ID=replace_with_your_admin_login_id
ADMIN_PASSWORD=replace_with_a_strong_admin_password
